<!DOCTYPE html>
<html>

<h2>Joke Board</h2>
<br>


  <div>
    <form method ="POST" action="/">
      <input type="password" class="form-control"  name="pass" placeholder="Enter security key">
      <br>
      <br>
      <button class="button" type="submit" name="submit_button" value="publisher">Publisher</button>
      <button class="button" type="submit" name="submit_button" value="subscriber">Subscriber</button>
    </form>
  </div>
<br>
<h2>Insert very funny application description here </h2>

</html>